body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9%;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vh;
    box-shadow: 0 0 30px rgba(34, 35, 58, 0.4);
    border-radius: 1.5rem;
    background-color: #f7f7f7;
    position: relative;
}
.card h2{
    margin: 0;
    padding: 0 1rem;
}

img{
    border-radius: 1.5rem;
}
.title-total{
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
    /* margin-right: 25px; */
}
.title-total h2{
    font-size: 20px;
}
path{
    fill: white;
}
.desc{
    padding: 0.5rem 1rem;
}
.actions{
    display: flex;
    justify-content: space-evenly;
    padding: 0.5rem 1rem;
}

i{
    color: #EE9952;
    font-size: large;
    border: #f8faf6;
}

