@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {}

body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-color: #F8EDEB; */
    background-image: url("cool-background.png");
    position: relative;
}

.navbar {
    position: sticky;
    top: 0;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;;
    margin: auto;
    background: #CED4DA;
    z-index: 1;
}

.navcenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: 1170px;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.5rem;
    color: #212529;
    cursor: pointer;
}

.nav-title {
    font-weight: 300;
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #212529;
}

.cart-btn {
    position: relative;
}

.cart-items {
    position: absolute;
    right: -8px;
    top: -6px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #db2777;
    color: #F8EDEB;
}

.products {
    padding: 4rem 0;
}

.products-title h2 {
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.products-title {
    display: flex;
    text-align: center;
}

.products-center {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 4fr));
    row-gap: 6rem;
    margin: auto;
    padding: 4% 15% 0 16%;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vh;
    height: 70vh;
    padding-top: 9%;
    margin: auto;
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow: 16px 16px 33px #c1c1c1, -16px -16px 33px #ffffff;
}

details{
    cursor: pointer;
}

img {
    border-radius: 5%;
    box-shadow:  -10px -10px 20px #cecece,
             10px 10px 20px #f2f2f2;
}
button {
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-shadow:4px 4px #c1c1c1d2;
    color: #F8F9FA;
    background-color: #495057;
}